:root {
  --color-primary: #10103e;
  --color-secondary: #efc94f;
  --color-tertiary: #5396d0;
  --color-default: #10103e;
  --color-white: #ffffff;
  --color-mute: #efefef;

  --font-family: "Raleway", sans-serif;
  --font-size-base: 1rem;
  --font-size-small: 0.8rem;
  --font-size-medium: 1.2rem;
  --font-size-large: 2rem;

  --font-weight-light: 400;
  --font-weight-normal: 600;
  --font-weight-bold: 800;

  --rhythm: 1.6rem;

  --opacity: 0.9;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  --border-radius: 4px;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--color-default);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-light);
  height: auto;
  line-height: var(--rhythm);
}

.layout {
  padding: 0 0 var(--rhythm);
}

.wrap {
  margin: auto;
  max-width: 1200px;
  padding: 0 var(--rhythm);
}

.wrap.narrow {
  max-width: 800px;
}

header {
  /* border-bottom: 2px solid; */
  border-top: calc(var(--rhythm) / 2) solid;
  padding: var(--rhythm) 0;
  width: 100%;
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 500px;
  width: 100%;
}

nav a {
  color: var(--color-default);
  /* font-size: var(--font-size-medium); */
  font-weight: var(--font-weight-normal);
  text-decoration: none;
}

.logo {
  line-height: 1;
}

.logo svg {
  height: auto;
  width: 180px;
}

/* .social-media {
  align-items: center;
  display: flex;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

.social-media > * + * {
  margin-left: calc(var(--rhythm) / 3);
}

.social-media-link {
  line-height: 1;
}

.social-media svg {
  height: 2rem;
  width: 2rem;
} */

.hero {
  height: 600px;
  overflow: hidden;
  position: relative;
}

.hero img {
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

section {
  padding: calc(var(--rhythm) * 2) 0;
}

section.gray {
  background-color: var(--color-mute);
}

h2 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  padding-top: 1rem;
  position: relative;
  text-align: center;
}

h2:before {
  background-color: var(--color-secondary);
  content: "";
  height: calc(var(--rhythm) / 3);
  left: 50%;
  position: absolute;
  bottom: 100%;
  transform: translateX(-50%);
  width: 65px;
}

.cuts path[fill="#10103E"]:hover {
  fill: var(--color-secondary);
}

footer {
  font-size: var(--font-size-small);
  padding: var(--rhythm) 0 calc(var(--rhythm) * 2);
  text-align: center;
}

/* .list {
  display: grid;
  grid-row-gap: var(--rhythm);
  grid-template-columns: 1fr;
  padding: var(--rhythm) 0;
}

@media (min-width: 760px) {
  .list {
    grid-column-gap: var(--rhythm);
    grid-template-columns: 1fr 1fr 1fr;
  }
} */

.product {
  border: 3px solid var(--color-mute);
  border-radius: 3px;
}

.product-image {
  height: calc(var(--rhythm) * 8);
  line-height: 1;
  overflow: hidden;
  position: relative;
  transition: opacity 300ms linear;
  width: 100%;
}

.product-image img {
  height: auto;
  left: 50%;
  line-height: 1;
  object-fit: cover;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.product-content {
  padding: var(--rhythm) var(--rhythm) 0;
}

.product h2 {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  line-height: var(--rhythm);
  margin: 0;
  padding: 0;
}

.product h3 {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  line-height: 1;
  margin: 0;
  padding: 0;
}

.product p {
  font-size: var(--font-size-small);
  margin: 0;
  padding: 0;
  padding-bottom: var(--rhythm);
}

.product a {
  line-height: 1;
  text-decoration: none;
}

.product-buttons {
  padding-bottom: var(--rhythm);
}

.button {
  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
  color: white;
  display: block;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.button + .button {
  margin-top: calc(var(--rhythm) / 2);
}
