:root {
  --color-primary: #10103e;
  --color-secondary: #efc94f;
  --color-tertiary: #5396d0;
  --color-default: #10103e;
  --color-white: #ffffff;
  --color-mute: #efefef;

  --font-family: "Raleway", sans-serif;
  --font-size-base: 1rem;
  --font-size-small: 0.8rem;
  --font-size-medium: 1.2rem;
  --font-size-large: 2rem;

  --font-weight-light: 400;
  --font-weight-normal: 600;
  --font-weight-bold: 800;

  --rhythm: 1.8rem;

  --opacity: 0.9;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  --border-radius: 4px;

  --break-small: 600px;
  --break-medium: 1200px;
  --break-large: 1800px;
}

* {
  box-sizing: border-box;
}

img,
svg {
  height: auto;
  width: 100%;
}

p {
  margin: 0;
  padding-bottom: var(--rhythm);
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  color: var(--color-default);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-light);
  height: auto;
  line-height: var(--rhythm);
}

.layout {
  padding: 0 0 var(--rhythm);
}

.wrap {
  margin: auto;
  max-width: var(--break-medium);
  padding: 0 var(--rhythm);
}

.wrap.narrow {
  max-width: var(--break-small);
}

header {
  border-top: calc(var(--rhythm) / 2) solid;
  padding: var(--rhythm) 0;
  position: relative;
  width: 100%;
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 480px;
  width: 100%;
}

nav a {
  color: var(--color-default);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-normal);
  line-height: 1;
  text-decoration: none;
}

.logo {
  max-width: 220px;
  width: 100%;
}

.hero {
  height: 600px;
  margin: auto;
  max-width: var(--break-large);
  overflow: hidden;
  position: relative;
  width: 100%;
}

.hero img {
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}

section {
  padding: calc(var(--rhythm) * 2) 0;
}

section.gray {
  background-color: var(--color-mute);
}

h2 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  margin: 0;
  padding: var(--rhythm) 0 calc(var(--rhythm) * 2);
  position: relative;
  text-align: center;
}

h2:before {
  background-color: var(--color-secondary);
  bottom: 100%;
  content: "";
  height: calc(var(--rhythm) / 3);
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 80px;
}

p.blurb {
  font-size: var(--font-size-medium);
  margin: 0;
  padding: 0 0 calc(var(--rhythm) * 2);
  text-align: center;
}

.double {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.double > * {
  width: calc(50% - 2px);
}

.cuts path[fill="#10103E"]:hover {
  fill: var(--color-secondary);
}

.products {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var(--rhythm) 0;
  text-align: center;
}

.product {
  border: 3px solid var(--color-mute);
  border-radius: 3px;
  width: 25%;
}

.product p {
  font-size: var(--font-size-base);
  margin: 0;
  padding: 0;
  padding-bottom: var(--rhythm);
}

.product img {
  margin-bottom: var(--rhythm);
  width: 200px;
}

.button {
  background-color: var(--color-secondary);
  border: 0;
  border-radius: var(--border-radius);
  color: white;
  display: block;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

footer {
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  padding: calc(var(--rhythm) * 2) 0 0;
  text-align: center;
}

footer nav {
  max-width: 300px;
}

footer nav a {
  color: var(--color-white);
  font-size: var(--font-size-base);
}

footer .logo {
  margin: calc(var(--rhythm) + 1rem) 0 var(--rhythm);
}

.video-container {
  height: 0;
  margin-bottom: 50px;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}

.video-container iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
